<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
	<%= render 'shared/feed' %>
      </section>
    </aside>
    <div class="span8">
      <h1>Games</h1>
      <h3><%= link_to "Bricks", bricks_path %></h3>
      <h3><%= link_to "Galaxian", galaxian_path %></h3>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Cloud Game</h1>

    <h2>Sign up to play</h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 
